<md-nav-bar
  md-selected-nav-item="currentNavItem"
  nav-bar-aria-label="navigation links"
  data-ng-if=$ctrl.isLogin>
  <md-nav-item md-nav-sref='myorder' name="myorder">
    Мой заказ
  </md-nav-item>
  <md-nav-item md-nav-sref='menu' name="menu">
    Меню
  </md-nav-item>
  <md-nav-item md-nav-sref='kitchen' name="kitchen">
    Кухня
  </md-nav-item>
  <md-nav-item md-nav-sref='logout' name="logout">
    Выход
  </md-nav-item>
  <p>Пользователь</p>
  <div>
    <p>Баланс</p>
    <md-button>Пополнить</md-button>
  </div>
</md-nav-bar>