<md-card md-theme="default" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Card with image</span>
      <span class="md-subhead">Large</span>
    </md-card-title-text>
    <md-card-title-media>
      <div class="md-media-lg card-media"></div>
    </md-card-title-media>
  </md-card-title>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
  </md-card-actions>
</md-card>
