<div class="login" layout-align="center center">
  <h1>Welcome to DRONE CAFE! </h1>
  <h3>By ND-5</h3>
    <form name="$ctrl.clientLogin">
      <md-input-container>
        <input ng-model="$ctrl.user.name" name="name" type="text" placeholder="Name" ng-required="true">
        <div ng-messages="$ctrl.clientLogin.name.$error">
          <div ng-message="required">Your full name is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <input ng-model="$ctrl.user.email" name="email" type="text" placeholder="E-mail" ng-required="true">
        <div ng-messages="$ctrl.clientLogin.email.$error">
          <div ng-message="required">Your email is required.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="$ctrl.checkUser($ctrl.user)" ng-disabled="$ctrl.clientLogin.$invalid">Login</md-button>
    </form>
</div>
